{% load i18n %}
{% load eventurl %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            {% trans "Clique" %}
            <a href="{% eventurl request.event "presale:event.checkout" step="clique" cart_namespace=cart_namespace|default_if_none:"" %}" class="h6">
                <span class="fa fa-edit"></span>{% trans "Modify" %}
            </a>
        </h3>
    </div>
    <div class="panel-body">
        {% if clique and mode == "join" %}
            <p>
                {% blocktrans trimmed with clique=clique.name %}
                    You are taking part in the raffle as part of the clique <strong>{{ clique }}</strong>.
                {% endblocktrans %}
            </p>
        {% elif clique and mode == "create" %}
            <p>
                {% blocktrans trimmed with clique=clique.name %}
                    You are taking part in the raffle as part of the <strong>newly created</strong> clique <strong>{{ clique }}</strong>.
                {% endblocktrans %}
            </p>
        {% else %}
            <p>
                {% trans "You are taking part in the raffle as an individual." %}
            </p>
        {% endif %}
    </div>
</div>
