{% extends "pretix_cliques/control_raffle_base.html" %}
{% load i18n %}
{% load eventsignal %}
{% load bootstrap3 %}
{% block inner %}
    <form action="" method="post" class="form-horizontal" data-asynctask data-asynctask-download data-asynctask-long>
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "Reject unapproved" %}</legend>
            <div class="alert alert-warning">
                {% trans "This will reject all applications that have not yet been chosen. Everyone affected will be notified. There is no going back." %}
            </div>
            {% bootstrap_form_errors form %}
            {% if request.event.has_subevents %}
                {% bootstrap_field form.subevent layout="control" %}
            {% endif %}
        </fieldset>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-danger btn-save">
                {% trans "Reject all unapproved" %}
            </button>
        </div>
    </form>
{% endblock %}
